.paginate
	.paginate-wrapper
		ul.pagination
			li.disabled
				span
					i.koms-prev
			li.current
				span
					|1
			li
				a(href=host + "photogallery.html?news_page=2")
					|2
			li
				a(href=host + "photogallery.html?news_page=3")
					|3
			li
				a(href=host + "photogallery.html?news_page=4")
					|4
			li
				a(href=host + "photogallery.html?news_page=5")
					|5
			li
				a(href=host + "photogallery.html?news_page=2")
					i.koms-next