footer.footer.container-fluid
	.row
		.col-lg-4.col-md-4.col-sm-6.col-xs-12.menu
			nav.footer-nav
				h6.footer-nav-title
					|Администрация
				ul.footer-nav-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Контакты
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Структура администрации
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Руководитель
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Сотрудники
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Собрание представителей
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Официальные заявления и отчеты
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Использование бюджетных средств
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Сведения о доходах муниципальных служащих
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Перечни информационных систем, реестров, регистров
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Результаты проверок
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Вакансии
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Муниципальная служба
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Муниципальные торги и закупки
		.col-lg-4.col-md-4.col-sm-6.col-xs-12.menu
			nav.footer-nav
				h6.footer-nav-title
					|Официальные документы
				ul.footer-nav-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Устав
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Градостроительство
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Нормативная база
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Правила благоустройства
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Документы
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Нормативно-правовые акты
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Постановления
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Проекты НПА
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Распоряжения
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Решения
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Федеральные законы
		.col-lg-4.col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0.menu
			nav.footer-nav
				h6.footer-nav-title
					|Социальная сфера
				ul.footer-nav-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Образование
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Здравоохранение
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|ЖКХ
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Культура
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Спорт
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Социальная защита
					li
						a.link(itemprop="url" href=host)
							span(itemprop="name")
								|Экология
		.col-xs-12.admin
			p
				|Администрация сельского поселения Комсомольский
				br
				|446412, Самарская обл., Кинельский р-н, п. Комсомольский, л. 50 лет Октября, д. 24 
			ul.admin-list
				li
					i.koms-phone
					span.text
						|+7 84663 5-11-55
						br
						|+7 84663 5-13-66
				li
					i.koms-email
					span.text
						|admin@site.my
			ul.admin-list.profile
				li
					a(href="javascript:;" data-plugin="tooltip" title!="Мы в&#13;&#10;Одноклассниках")
						i.koms-ok
				li
					a(href="javascript:;" data-plugin="tooltip" title!="Мы в&#13;&#10;Vkontakte")
						i.koms-vk
				li
					a(href="javascript:;" data-plugin="tooltip" title!="Мы на&#13;&#10;Google +")
						i.koms-gp
				li
					a(href="javascript:;" data-plugin="tooltip" title!="Мы на&#13;&#10;YouTube")
						i.koms-youtube
		.col-xs-12.footer-developer
			span
				a(href="http://www.cmsmagazine.ru/creators/studionions/" target="_blank" data-plugin="tooltip" data-delay!="{ show: 500, hide: 100 }" title!="Разработка и поддержка сайтов&#13;&#10;ProjectSoft & STUDIONIONS")
					span
						|Projectsoft & STUDIONIONS