li
	a.link(itemprop="url" href=host + "news.html")
		span(itemprop="name")
			|Новости
	i.koms-down
	ul.sub-menu
		li
			a.link(href=host + "" itemprop="url")
				span(itemprop="name")
					|СМИ
		li
			a.link(href=host + "photogallery.html" itemprop="url")
				span(itemprop="name")
					|Фотогаллереи
li
	a.link(itemprop="url" href=host)
		span(itemprop="name")
			|Информация
	i.koms-down
	ul.sub-menu
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 1
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 2
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 3
li
	a.link(href=host itemprop="url")
		span(itemprop="name")
			|Документы
	i.koms-down
	ul.sub-menu
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 1
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 2
		li
			a.link(href=host itemprop="url")
				span(itemprop="name")
					|Подменю 3
li
	a.link(href=host itemprop="url")
		span(itemprop="name")
			|Администрация